<div class="row heading">
  <h1 class="title">Find All Products</h1>
</div>

<% if (products.length > 0) { %> <% for (let product of products) {%>
<div class="row list flex flex-middle">
  <div class="content">
    <h1 class="title">
      <a href="/<%= product.id %>"><%= product.title %></a>
    </h1>
    <p>Price: $<%= product.price %></p>
  </div>
  <span class="spacer"></span>
  <div class="buttons">
    <a href="/edit/<%= product.id %>/?mode=true" type="button" class="btn rounded border">Edit</a>
    <form class="btn-form" action="/delete" method="POST">
      <input type="hidden" value="<%= product.id %>" name="productId">
      <button type="submit" class="btn border rounded">Delete</button>
    </form>
  </div>
</div>
<% } %> <% } else {%>
<p>there are no products</p>
<% } %>
