<%- include('../partials/meta') %> 
<%- include('../partials/styles') %>
<!-- body start -->
<%- include('./elements/toolbar') %>
<div class="wrapper fromtop">
  <%- include(`./pages/${template}`) %> 
</div>
<!-- body end -->
<%- include('../partials/scripts') %>