<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Shoplr | <%= title  %> </title>
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
<meta name="description" content="<%= title.length > 0 ? title : 'Fastest way to create payment links' %>" />
<link rel="canonical" href="https://uloga.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= title.length > 0 ? title : 'The easies way to sell anything online' %> " />
<meta property="og:description" content="<%= description.length > 0 ? title : 'Sell products or offer any type of service online for free' %>" />
<meta property="og:url" content="https://uloga.com/" />
<meta property="og:site_name" content="Shoplr" />
<meta property="article:publisher" content="https://www.facebook.com/uloga" />
<meta property="article:modified_time" content="2021-04-29T11:47:31+00:00" />
<meta property="og:image" content="<%= ogimage %>" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@_uloga" />
<link rel="icon" type="image/png"  href="/favicon.png?v=1" sizes="72x72" />